@use "colors"

$box-red-background: var(--site-color-lightred)
$box-red-border: var(--site-color-red)
$box-yellow-background: var(--site-color-lightyellow)
$box-yellow-border: var(--site-color-yellow)
$box-green-background: var(--site-color-lightgreen)
$box-green-border: var(--site-color-green)
$box-cyan-background: var(--site-color-lightcyan)
$box-cyan-border: var(--site-color-cyan)
$box-blue-background: var(--site-color-lightblue)
$box-blue-border: var(--site-color-blue)
$box-purple-background: var(--site-color-lightpurple)
$box-purple-border: var(--site-color-purple)
$box-brown-background: var(--site-color-lightbrown)
$box-brown-border: var(--site-color-brown)

div.boxcontainer
	display: flex
	flex-direction: column
	padding: 5vh 10vw
	>div
		padding: 1vh
		display: flex
		flex-direction: row
		>div.box
			width: 25vw
			height: 25vw
			border: 2vw solid
			border-radius: 2vw
			&.red
				background: $box-red-background
				border-color: $box-red-border
			&.yellow
				background: $box-yellow-background
				border-color: $box-yellow-border
			&.green
				background: $box-green-background
				border-color: $box-green-border
			&.cyan
				background: $box-cyan-background
				border-color: $box-cyan-border
			&.blue
				background: $box-blue-background
				border-color: $box-blue-border
			&.purple
				background: $box-purple-background
				border-color: $box-purple-border
			&.brown
				background: $box-brown-background
				border-color: $box-brown-border
		>div.text
			display: flex
			align-items: center
			justify-content: center
			flex-grow: 1
