:root
	--site-color-white: #ffffff
	--site-color-slightdarkwhite: #dddddd

	--site-color-red: #ff0000
	--site-color-lightred: #ffbbbb
	--site-color-yellow: #ffff00
	--site-color-lightyellow: #ffffbb
	--site-color-green: #00ff00
	--site-color-lightgreen: #bbffbb
	--site-color-cyan: #00ffff
	--site-color-lightcyan: #bbffff
	--site-color-blue: #0000ff
	--site-color-lightblue: #bbbbff
	--site-color-purple: #ff00ff
	--site-color-lightpurple: #ffbbff

	--site-color-brown: #884400
	--site-color-lightbrown: #ccaa88
	--site-color-slightlightbrown: #94571a
