@use "colors"

$download-button-background: var(--site-color-brown)
$download-button-hover-background: var(--site-color-slightlightbrown)
$download-button-foreground: var(--site-color-white)
$download-dropdown-hover-background: var(--site-color-slightdarkwhite)

mergebox-www-site-downloadbutton
	display: flex
	flex-direction: row
	>div
		position: relative
		// Actual buttons
		button
			display: block
			color: $download-button-foreground
			background: $download-button-background
			border: none
			padding: 10px 2px
			text-align: center
			transition: background 0.25s ease-out
			cursor: pointer
		>button
			&:hover, &:focus, &:focus-within
				background: $download-button-hover-background
		&:first-child
			button
				border-top-left-radius: 100vw
				border-bottom-left-radius: 100vw
				padding-left: 15px
				text-align: right
		&:not(:last-child) button
			width: 100%
		&:last-child
			button
				border-top-right-radius: 100vw
				border-bottom-right-radius: 100vw
				padding-right: 15px
				text-align: left
		// Dropdowns
		>div
			visibility: hidden
			height: 0
			transition: max-hieght 1s ease, height 1s ease, visibility 0s linear 1s
		>button.site-dropdown-open + div
			visibility: visible
			transition: max-hieght 1s ease, height 1s ease, visibility 0s linear 0s
		>div
			overflow-y: auto
			position: absolute
			background: white
			box-shadow: 0 3px 25px 0 rgba(22, 22, 22, 0.15)
			box-sizing: border-box
			padding: 2px
			width: 100%
			min-width: min-content
			>span
				color: #888888
				font-size: 0.5rem
				text-align: center
				display: block
			>ul
				list-style-type: none
				>li
					cursor: pointer
					padding: 2px
					transition: 0.25s ease
					&:hover, &:focus, &:focus-within
						background: $download-dropdown-hover-background
		&:not(:first-child)
			margin-left: 1px
		// Arrow
		>button
			position: relative
		&:not(:first-child)>button
			padding-right: 28px
			&::after
				content: ""
				display: block
				position: absolute
				width: 0
				height: 0
				top: 50%
				right: 10px
				border: 6px solid transparent
				border-top-color: white
				transform-origin: center 3px
				transform: rotate(0deg)
				transition: transform 1s ease
		&:not(:first-child)>button.site-dropdown-open::after
			transform: rotate(180deg)
// vim:filetype=sass:noexpandtab:
