@use "colors"
@use "icons"

$footer-background: var(--site-color-lightbrown)
$footer-border: 5px solid var(--site-color-brown)

div.footer
	background: $footer-background
	border-top: $footer-border
	padding: 25px 0 15px 0
	display: flex
	flex-direction: row
	text-align: center
	>div
		flex-grow: 1
	h3
		margin-bottom: 5px
	a
		color: #0000ff
		&:hover
			text-decoration: underline
