@mixin icon
	content: ""
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	display: inline-block
	height: 1em
	width: 1em

.icon-gitlab::before
	@include icon
	background-image: url(https://gitlab.com/assets/favicon-7901bd695fb93edb07975966062049829afb56cf11511236e61bcf425070e36e.png)
