@use "center"
@use "colors"
@use "fontfamilies"

$navbar-background: var(--site-color-brown)
$navbar-foreground: var(--site-color-white)
$navbar-item-background: var(--site-color-lightbrown)

div.navbar
	position: fixed
	width: 100%
	z-index: 1
	margin: 0
	padding: 5px
	box-sizing: border-box
	background-color: $navbar-background
	color: $navbar-foreground

	>ul
		list-style: none

		margin: 0
		padding: 0
		height: 100%
		width: 100%

		display: flex
		align-items: stretch
		flex-direction: row

		>li
			border-radius: 5px
			padding: 5px
			margin: 0
			transition: 0.25s ease
			>*
				display: flex
				height: 100%
				@extend %centerTextY
		>li.active, >li:hover, >li:focus-within
				background: $navbar-item-background
		>li:not(:last-child)
			margin-right: 5px
// vim:filetype=sass:noexpandtab:
