<mergebox-www-site-downloadbutton>
	<div>
		<button type="button">{{content.identifier}}</button>
	</div>
	{{#each content.selections}}
	<div>
		<button type="button">{{this.default}}</button>
		<div>
			<span>Select a {{this.name}}:</span>
			<ul>
				{{#each this.values}}
				<li>
					<button type="button">{{this}}</button>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
	{{/each}}
</mergebox-www-site-downloadbutton>
