<div class="footer">
	<div>
		<h3>Mergebox development</h3>
		<a class="icon-gitlab" href="https://gitlab.com/merge_box/mergebox" target="_blank" rel="noopener noreferrer">Mergebox on GitLab</a>
	</div>
	<div>
		<h3>Website development</h3>
		<a class="icon-gitlab" href="https://gitlab.com/merge_box/mergebox-www" target="_blank" rel="noopener noreferrer">This site on GitLab</a>
	</div>
</div>
