<div class="navbar">
	<ul>
		<li class="active">
			<a href="/">
				<img src="/images/favicon.png">
			</a>
		</li>
		<li>
			<a href="about.html">
				<span>About</span>
			</a>
		</li>
		<li>
			<a href="docs/">
				<span>Documentation</span>
			</a>
		</li>
	</ul>
</div>
<div style="height: 60px;"></div>
