<!DOCTYPE html>
<html>
	{{>head title="Merge Box" stylesheet="index.css"}}
	<body>
		{{>navbar}}
		<div class="boxcontainer">
			<div>
				{{> box color="green"}}
				{{#>box_text}}
					<h1>Merge Box</h1>
					{{>download content=downloads.mergebox}}
				{{/ box_text}}
			</div>
			<div>
				{{#>box_text}}
					Merge boxes together to make progress
				{{/ box_text}}
				{{> box color="blue"}}
			</div>
			<div>
				{{> box color="yellow"}}
				{{#>box_text}}
					Earn money to buy upgrades
				{{/ box_text}}
			</div>
			<div>
				{{#>box_text}}
					Get started now!
					{{>download content=downloads.mergebox}}
				{{/ box_text}}
				{{> box color="brown"}}
			</div>
		</div>
		{{>footer}}
		<script type="module" src="index.js"></script>
	</body>
</html>
